<h3><strong>Association name: </strong>{{association.nom_a}}</h3>
<h3>Telephone: {{association.tel}}</h3>
<h3>Email: {{association.email}}</h3>
<h3>Description: {{association.description}}</h3>
<h3>City: {{association.ville}}</h3>
<h3>Address: {{association.adresse}}</h3>
<h3>President name: {{association.nom_president}}</h3>
<h3>Budget: {{association.budget}}</h3>
<h3>Category: {{association.categorie}}</h3>
<button class="btn btn-success" (click)="addReclamation(association)" >Reclaim</button>
<button class="btn btn-danger" [hidden]="!association.is_reclaimed "  (click)="deleteAssociation(association)" routerLink="/association" >Delete</button>
